<h1>
	Sign Up From
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit">
</form>

<li><a href="/">Back to Home Page</a></li>