	<div class="ui container">
		<div class="ui section horizontal divider">
			<i class="icon angle double up" style="font-size: 2rem"></i>
		</div>
		<p style="text-align: center; margin-top: 2rem; margin-bottom: 4rem">
			Trademark 2020
		</p>
	</div>
	</body>
</html>